<div class="container mt-5">
  <div class="row mb-3 text-center">
    <div class="col-md-12">
      <h1>Contact Us</h1>
      <h4 class="fw-normal">For any inquiries or questions regarding PuddingFest, please contact us using one of the following methods</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Contact Information</h3>
      <p>Feel free to reach out to us using any of the methods below:</p>
      <div class="row">
        <div class="col-md-4">
          <div class="card w-100 h-100">
            <div class="card-body">
              <h5 class="card-title"><fa-icon [icon]="faMapLocation"></fa-icon> Address</h5>
              <p class="card-text">123 Main Street, Anytown, USA</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card w-100 h-100">
            <div class="card-body">
              <h5 class="card-title"><fa-icon [icon]="faPhone"></fa-icon> Phone</h5>
              <p class="card-text"><a class="text-decoration-none text-dark" href="tel:1234567890">(123) 456-7890</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card w-100 h-100">
            <div class="card-body">
              <h5 class="card-title"><fa-icon [icon]="faEnvelope"></fa-icon> Email</h5>
              <p class="card-text"><a class="text-decoration-none text-dark" href="mailto:info@puddingfest.com">info@puddingfest.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
